body, html {
    height: 100%;
    background-color: #056ec5;
}

ul {
    list-style: none;
    width: 100%;
}

div {
    margin-bottom: 50px;
}

li {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

a {
    font-family: 'Fredoka One', cursive;
    font-size: 60px;
    color: goldenrod;
}

div h1 {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    color: goldenrod;
}

a:hover {
    color: whitesmoke;
    text-decoration: none;
}

a:active {
    color: darkred;
}

div.cards {
    width: 500px;
    height: 500px;
}

#tier {
    display: flex;
    margin: 0 auto;
    width: 300px;
}

.table th {
    text-align: center;
}

.table td {
    text-align: center;
}

/*Popup login taken from https://www.w3docs.com/snippets/javascript/how-to-create-a-popup-form-with-css-and-javascript.html*/
* {
    box-sizing: border-box;
}
body {
    font-family: Roboto, Helvetica, sans-serif;
}
/* Fix the button on the left side of the page */
.open-btn {
    display: flex;
    justify-content: left;
}
/* Style and fix the button on the page */
.open-button {
    background-color: #1c87c9;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
}
/* Position the Popup form */
.login-popup {
    position: relative;
    text-align: center;
    width: 100%;
}
/* Hide the Popup form */
.form-popup {
    display: none;
    position: fixed;
    left: 45%;
    top:5%;
    transform: translate(-45%,5%);
    border: 2px solid #666;
    z-index: 9;
}
/* Styles for the form container */
.form-container {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
}
/* Full-width for input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #eee;
}
/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
/* Style submit/login button */
.form-container .btn {
    background-color: #1c87c9;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
/* Style cancel button */
.form-container .cancel {
    background-color: #cc0000;
}
/* Hover effects for buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
